.btts {
    background: red;
	color: white;
	border-style: outset;
	border-color: red;
	height: 25px;
	width: 50px;
	font: bold15px arial,sans-serif;
	text-shadow: none;
	float: left;
    margin: 10px;
}
